services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:v0.7.2
    container_name: open-webui
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8080:8080"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - OLLAMA_BASE_URL=http://host.docker.internal:11434
      - WEBUI_SECRET_KEY=${WEBUI_SECRET_KEY}
    volumes:
      - ./data:/app/backend/data
    networks:
      - server-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

networks:
  server-network:
    external: true
