services:
  trafilatura:
    image: theosun/trafilatura-api:latest
    container_name: trafilatura
    platform: linux/amd64
    restart: unless-stopped
    ports:
      - "5001:5000"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - server-network

networks:
  server-network:
    external: true
