services:
  crawl4ai:
    image: unclecode/crawl4ai:0.7.6
    container_name: crawl4ai
    restart: unless-stopped
    shm_size: "1g"
    ports:
      - "11235:11235"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - server-network

networks:
  server-network:
    external: true
